body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}

body::before {
    content: "";
    position: fixed;

    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;

    background-image: url('images/bg-index-c2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(1px) brightness(1.3);

    z-index: -1;
}


.hero {
    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.btn-main {
    padding: 10px 20px;
    text-decoration: none;
    background: #be216b;
    color: white;
    border-radius: 5px;
    display: inline-block;
}