.bubble.emotion_happy {
    background-color: #fae896 !important; 
    border: 1px solid #e2cf78 !important;
    color: #4a3c02 !important;
}

.bubble.emotion_sad {
    background-color: #bad3fc !important; 
    border: 1px solid #99bbf2 !important;
    color: #172d4f !important;
}

.bubble.emotion_angry {
    background-color: #fca9a9 !important; 
    border: 1px solid #eb8888 !important;
    color: #5c1414 !important;
}

.bubble.emotion_fear {
    background-color: #cebdfc !important; 
    border: 1px solid #b39ded !important;
    color: #311f61 !important;
}

.bubble.emotion_surprise {
    background-color: #f9be8f !important; 
    border: 1px solid #e2a574 !important;
    color: #542704 !important;
}

.bubble.emotion_disgust {
    background-color: #c4d783 !important; 
    border: 1px solid #a9be64 !important;
    color: #333d14 !important;
}

.bubble.emotion_neutral {
    background-color: #e9e9e7 !important; 
    border: 1px solid #d5d5d3 !important;
    color: #3f3f3f !important;
}