/* emotion variables that contains the color styles for each emotion */

.emotion_happy {
    background-color: #8cff75 !important;
    border: 1px solid rgb(133, 255, 2);
    color: #245d1a;
}
.emotion_sad {
    background-color: #83e8ff !important;
    border: 1px solid #5ce1ff;
    color: #0c94b3;
}
.emotion_angry {
    background-color: #fd616e !important;
    border: 1px solid #ff3e4e;
    color: #510005;
}
.emotion_fear {
    background-color: #7871ff !important;
    border: 1px solid #4c42ff;
    color: #0b0748;
}
.emotion_surprise {
    background-color: #5dffd1 !important;
    border: 1px solid #00e3a2;
    color: #005f44;
}
.emotion_disgust {
    background-color: #8b2694 !important;
    border: 1px solid #811e8a;
    color: #31002d;
}
.emotion_neutral {
    background-color: #e0e0e0 !important;
    border: 1px solid #d2d2d2;
    color: #575757;
}