.login-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.register-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.input-hint {
    font-size: 0.8rem;
    color: #6c757d;
    display: none;
    margin-top: 4px;
    margin-left: 4px;
}

.form-control:focus+.input-hint {
    display: block;
}

@media (max-width: 576px) {
    .register-card {
        margin: 20px;
        max-width: 100%;
    }
}