# Django
__pycache__/
*.pyc
*.pyo
db.sqlite3
db.sqlite3-journal

# Virtual Environment
venv/
.venv/
ENV/

# IDE
.vscode/
.idea/

# Windows junk files (이게 제일 중요!)
AppData/
OneDrive/
Documents/
Downloads/
Videos/
Music/
Pictures/
Favorites/
Saved Games/
Searches/
3D Objects/
Contacts/
Links/
NTUSER*
*.regtrans-ms
*.TM.blf
*.TMContainer*

# Cache
.cache/
.conda/
.ipynb_checkpoints/
.jupyter/